{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block body %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script>
  $( document ).ready(function() {
    $('label[for="id_new_password1"]').hide();
    $('label[for="id_new_password2"]').hide();
    $('#hint_id_new_password1').hide();

});
</script>
<section id="about">
      <div class="container" align="center">
          <div class="col-4" align="center">
                <h3>Şifremi değiştir</h3>
                {% if validlink %}
                <form method="post">
                  {% csrf_token %}
                  <label for="id_new_password1_1" class=" requiredField">
                Yeni şifre<span class="asteriskField">*</span>
                </label>
                  {{ form.new_password1|as_crispy_field }}
                   <label for="id_new_password2_2" class=" requiredField">
                Şifre onayla<span class="asteriskField">*</span>
                </label>
                  {{ form.new_password2|as_crispy_field }}
                <button class="btn btn-info" type="submit">Şifremi değiştir</button>
                </form>
              {% else %}
                <p>
                Parola sıfırlama bağlantısı geçersizdir,
                Lütfen yeni bir şifre sıfırlama isteği gönderin.
              </p>
          </div>
      </div>
</section>
  {% endif %}
{% endblock %}