{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block body %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script>
  $( document ).ready(function() {
    $('label[for="id_new_password1"]').hide();
    $('label[for="id_new_password2"]').hide();
    $('#hint_id_new_password1').hide();

});
</script>
<section id="about">
      <div class="container" align="center">
          <div class="col-4" align="center">
                <h3>
                    {% if LANGUAGE_CODE == 'tr' %} Şifremi değiştir {% elif LANGUAGE_CODE == 'en' %} Change My Password {% elif LANGUAGE_CODE == 'ru' %} Изменить пароль  {% endif %}
                    </h3>
                {% if validlink %}
                <form method="post">
                  {% csrf_token %}
                  <label for="id_new_password1_1" class=" requiredField">
                {% if LANGUAGE_CODE == 'tr' %} Yeni Şifre {% elif LANGUAGE_CODE == 'en' %} New Password {% elif LANGUAGE_CODE == 'ru' %} новый пароль  {% endif %}
                </label>
                  {{ form.new_password1|as_crispy_field }}
                   <label for="id_new_password2_2" class=" requiredField">
                {% if LANGUAGE_CODE == 'tr' %} Yeni Şifre Tekrar {% elif LANGUAGE_CODE == 'en' %} Re-Enter New Password {% elif LANGUAGE_CODE == 'ru' %} Повторно введите новый пароль {% endif %}
                </label>
                  {{ form.new_password2|as_crispy_field }}
                <button class="btn btn-info" type="submit">

                    {% if LANGUAGE_CODE == 'tr' %} Onayla {% elif LANGUAGE_CODE == 'en' %} Confirm {% elif LANGUAGE_CODE == 'ru' %} Подтвердить  {% endif %}
                </button>
                </form>
              {% else %}
                <p>
                    {% if LANGUAGE_CODE == 'tr' %}
                        Parola sıfırlama bağlantısı geçersizdir,
                        Lütfen yeni bir şifre sıfırlama isteği gönderin.
                    {% elif LANGUAGE_CODE == 'en' %}
                        Password reset link is invalid,
                        Please submit a new password reset request.
                    {% elif LANGUAGE_CODE == 'ru' %}
                        Ссылка для сброса пароля недействительна,
                        Отправьте новый запрос на сброс пароля.
                    {% endif %}
              </p>
          </div>
      </div>
</section>
  {% endif %}
{% endblock %}