
{% extends 'base.html' %}
{% load static %}
{% block head %}
{% endblock %}
{% load crispy_forms_tags %}

{% block body %}
<section id="about">
      <div class="container" align="center">
          <div class="col-4" align="center">
            <h3> {% if LANGUAGE_CODE == 'tr' %} Şifremi Unuttum {% elif LANGUAGE_CODE == 'en' %} Forgot Password {% elif LANGUAGE_CODE == 'ru' %} забыл пароль  {% endif %}</h3>
               <form method="post">
                  {% csrf_token %}
                  {{ form|crispy }}
                <button class="btn btn-info" type="submit">Şifremi sıfırla</button>
               </form>
          </div>
      </div>
    </section><!-- #about -->
{% endblock %}


