
{% extends 'base.html' %}
{% load static %}
{% block head %}
{% endblock %}
{% load crispy_forms_tags %}

{% block body %}
<section id="about">
      <div class="container" align="center">
          <div class="col-4" align="center">
            <h3>
                {% if LANGUAGE_CODE == 'tr' %} Şifremi unuttum {% elif LANGUAGE_CODE == 'en' %} Forgot Password {% elif LANGUAGE_CODE == 'ru' %} забыл пароль  {% endif %}
            </h3>
              <p>
                  {% if LANGUAGE_CODE == 'tr' %}  Sıfırlama linki mail adresinize gönderilmiştir lütfen mailinizi kontrol edin. {% elif LANGUAGE_CODE == 'en' %} The reset link has been sent to your e-mail address, please check your mail.
                 {% elif LANGUAGE_CODE == 'ru' %}
                  Ссылка для сброса была отправлена ​​на ваш адрес электронной почты, проверьте свою почту.
                  {% endif %}

                 </p>
          </div>
      </div>
    </section><!-- #about -->
{% endblock %}


