{% extends 'base.html' %}
{% load static %}
{% block head %}
{% endblock %}

{% block body %}
    {% if form.errors %}
    <p> There is something wrong with what you entered!</p>
    {% endif %}

    {% if next %}
    <p> hey you cant access the page</p>
    {% endif %}


    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}

       <p> username: {{ form.username }}</p>
       <p> password {{ form.password }}</p>

        <input type="submit" value="login">
        <input type="hidden" name="next" value="{{ next }}">

    </form>

{% endblock %}
