{% extends 'base.html' %}
{% load static %}
{% block head %}
{% endblock %}

{% block body %}
<section id="about">

      <div class="container">
        <div class="row">

          <div class="col-lg-5 col-md-6">

            <div class="about-img">
              <img src="{% static 'img/ekose_ve_sanel_1.jpg' %}" alt="">

            </div>
          </div>


          <div class="col-lg-7 col-md-6">
            <div class="about-content">
              <h2>Hakkımızda</h2>
             <p>Özlem Kumaş Sanayi ve Ticaret Limited Şirketi, 1969 yılında kurulmuş, Turkiye’nin önde gelen yün ve yün karışımlı kumaş üreticilerinden biridir. Büyüme süreci içerisinde yurtiçi ve yurtdışı pazarlarda güç kazanırken Türkiye’de liderliğe doğru ilerlemektedir.

                Özlem Kumaş Sanayi ve Ticaret Limited Şirketi dış giyim ve ceket üretimi için uygun olan yün ve yün karışımlı kumaşlar ile birlikte elbise, etek ve pantolon üretimi için, daha düşük ağırlıktaki, yün, polyester, pamuk ve keten karışımlı kumaş üretiminde uzmanlaşmıstır. Ortalama 2.000.000 mt/yıl olan kapasitesi, ileri teknoloji kullanımı, Ar&Ge çalışmaları ve başarılı satış - pazarlama stratejileriyle her geçen yıl artmaktadır. Son moda trendleri gözönünde bulundurularak oluşturulan koleksiyonları Mark & Spencer, Zara ve Escada gibi dünyaca ünlü markalar tarafından tercih edilmektedir.

                Öncelikli hedefleri ;

                En üst düzeyde müşteri memnuniyetini sağlamak ve modaya yön verecek en kaliteli ürünleri üretmektir.</p>


              <p>Katıldığı fuarlar ;</p>


                 <ul>
                <li><i class="ion-android-checkmark-circle"></i> Premiere Vision Paris</li>
                <li><i class="ion-android-checkmark-circle"></i> Premiere Vision New York</li>
                <li><i class="ion-android-checkmark-circle"></i> Munich Fabric Start</li>
                 <li><i class="ion-android-checkmark-circle"></i> Textillegprom Moscow</li>
                <li><i class="ion-android-checkmark-circle"></i> Intertextile Shanghai</li>
                <li><i class="ion-android-checkmark-circle"></i> Intertextile Beijing</li>
                <li><i class="ion-android-checkmark-circle"></i> Colombai Tex Medellin</li>
                <li><i class="ion-android-checkmark-circle"></i> Maroc Textile Casablanca</li>
                <li><i class="ion-android-checkmark-circle"></i> Texbridge Istanbul</li>
              </ul>


        </div>
      </div>

    </section><!-- #about -->

{% endblock %}