{% extends 'base.html' %}
{% load static %}
{% block head %}
{% endblock %}

{% block body %}
<section id="about">

      <div class="container">
        <div class="row">

          <div class="col-lg-5 col-md-6">

            <div class="about-img">
              <img src="{% static 'img/ekose_ve_sanel_1.jpg' %}" alt="">

            </div>
          </div>
          <div class="col-lg-7 col-md-6">
            <div class="about-content">
              <h2>Hakkımızda</h2>
            <p> 1969 yılında kurulan Özlem Kumaş, bugün Avustralya’dan Amerika’ya, Güney Kore’den Avrupa’da birçok ülkeye ürün ihraç etmektedir. Özlem Kumaş, sürdürülebilirliği ilke edinerek, insan sağlığına ve doğaya zararsız üretim gerçekleştirmektedir. Üretim sürecinde kullanılan rejenere elyaflar ile geri dönüşüme katkı sağlamaktadır.

            Trendler doğrultusunda geliştirilen yeni koleksiyonlar Paris , Londra , Moskova şehirlerinde fuarlarda sergilenmekte ayrıca Dünya’nın birçok farklı noktasındaki acentalarımız ile müşterilerimize birebir sunulmaktadır.

            Müşterilerimizin özel taleplerini, üretim esnekliği ve tecrübemiz ile birlikte renk , desen, hammadde fark etmeksizin gerçekleştirebilmekteyiz. Tesisimizde yün, pamuk, polyester, viskon, polyamid elyafları işlenmektedir.
            </p>
              <p>Katıldığımız fuarlar;</p>
                 <ul>
                <li><i class="ion-android-checkmark-circle"></i> Premiere Vision Paris</li>
                <li><i class="ion-android-checkmark-circle"></i> Premiere Vision New York</li>
                <li><i class="ion-android-checkmark-circle"></i> Munich Fabric Start</li>
                 <li><i class="ion-android-checkmark-circle"></i> Textillegprom Moscow</li>
                <li><i class="ion-android-checkmark-circle"></i> Intertextile Shanghai</li>
                <li><i class="ion-android-checkmark-circle"></i> Intertextile Beijing</li>
                <li><i class="ion-android-checkmark-circle"></i> Colombai Tex Medellin</li>
                <li><i class="ion-android-checkmark-circle"></i> Maroc Textile Casablanca</li>
                <li><i class="ion-android-checkmark-circle"></i> Texbridge Istanbul</li>
              </ul>


        </div>
      </div>

    </section><!-- #about -->

{% endblock %}