{% extends 'base.html' %}
{% load static %}
{% block head %}

{% endblock %}

{% block body %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<body id="page-top" style="background-color:white;">
<section id="about" class="section-bg" style="background-color:white;">
<div class="container">
    <div class="row">
         <div class="col-4" style="margin-top:50px;">
             <div class="d-flex">
                  <div class="no-border">
                    <img src="{% static 'img/Almanya.png' %}"
                         alt="Another alt text" style="width: 150px; height: 110px;">
                  </div>
                  <div style="font-size: 12px; margin: 10px;">
                      <p>
                           {% if LANGUAGE_CODE == "tr" %}
                                Batı Almanya & Kuzey Almanya <br>
                            {% elif LANGUAGE_CODE == "en" %}
                                West Germany & North Germany <br>
                            {% elif LANGUAGE_CODE == "ru" %}
                                 Западная Германия и Северная Германия <br>
                            {% endif %}
                        Bernd Strauss <br>
                       straussb00@googlemail.com <br>
                      +49 1522 3344877</p>
                  </div>
             </div>
        </div>
        <div class="col-4" style="margin-top:50px;">
             <div class="d-flex">
                  <div>
                    <img src="{% static 'img/Fransa.png' %}"
                         alt="Another alt text" style="width: 150px; height: 110px;">
                  </div>
                  <div style="font-size: 12px; margin: 10px;">
                      <p>
                          {% if LANGUAGE_CODE == "tr" %}
                                Fransa Paris <br>
                            {% elif LANGUAGE_CODE == "en" %}
                                France Paris <br>
                            {% elif LANGUAGE_CODE == "ru" %}
                                 Франция Париж <br>
                            {% endif %}
                       Carine Faivre <br>
                       carinefaivre@me.com<br>
                      +33 661 184 305</p>
                  </div>
             </div>
        </div>
         <div class="col-4" style="margin-top:50px;">
             <div class="d-flex">
                  <div>
                    <img src="{% static 'img/Fransa.png' %}"
                         alt="Another alt text" style="width: 150px; height: 110px;">
                  </div>
                  <div style="font-size: 12px; margin: 10px;">
                      <p>   {% if LANGUAGE_CODE == "tr" %}
                                Fransa Paris <br>
                            {% elif LANGUAGE_CODE == "en" %}
                                France Paris <br>
                            {% elif LANGUAGE_CODE == "ru" %}
                                 Франция Париж <br>
                            {% endif %}
                       Valerie Fernandes - VPF Moda <br>
                        vpfmoda@gmail.com<br>
                        +33 609 731 734</p>
                  </div>
             </div>
        </div>

        <div class="col-4" style="margin-top:50px;">
             <div class="d-flex">
                  <div>
                    <img src="{% static 'img/Fransa.png' %}"
                         alt="Another alt text" style="width: 150px; height: 110px;">
                  </div>
                  <div style="font-size: 12px; margin: 10px;">
                      <p>
                            {% if LANGUAGE_CODE == "tr" %}
                                Batı Fransa <br>
                            {% elif LANGUAGE_CODE == "en" %}
                                West France <br>
                            {% elif LANGUAGE_CODE == "ru" %}
                                 Западная франция<br>
                            {% endif %}
                       Genevieve Monnet <br>
                        genevieve.marsaud@wanadoo.fr<br>
                        +33 614 394 828</p>
                  </div>
             </div>
        </div>


        <div class="col-4" style="margin-top:50px;">
             <div class="d-flex">
                  <div>
                    <img src="{% static 'img/hollanda.png' %}"
                         alt="Another alt text" style="width: 150px; height: 110px;">
                  </div>
                  <div style="font-size: 12px; margin-left: 10px; margin-top:10px;">
                      <p>
                          {% if LANGUAGE_CODE == "tr" %}
                                Hollanda <br>
                            {% elif LANGUAGE_CODE == "en" %}
                                Netherlands <br>
                            {% elif LANGUAGE_CODE == "ru" %}
                                 Нидерланды <br>
                            {% endif %}
                       Li-Janne Nagle - Bruggen Brocker <br>
                       l.nagle@bruggen-brocker.nl <br>
                        +31 650 261 681 </p>
                  </div>
             </div>
        </div>

        <div class="col-4" style="margin-top:50px;">
             <div class="d-flex">
                  <div>
                    <img src="{% static 'img/portekiz.png' %}"
                         alt="Another alt text" style="width: 150px; height: 110px;">
                  </div>
                  <div style="font-size: 12px; margin: 10px;">
                      <p>
                          {% if LANGUAGE_CODE == "tr" %}
                                Portekiz <br>
                            {% elif LANGUAGE_CODE == "en" %}
                                Portugal <br>
                            {% elif LANGUAGE_CODE == "ru" %}
                                 Португалия<br>
                            {% endif %}
                       Bernardete Marques<br>
                       bernardete3j@gmail.com<br>
                        +351 920 185 465  </p>
                  </div>
             </div>
        </div>


         <div class="col-4" style="margin-top:50px;">
             <div class="d-flex">
                  <div>
                    <img src="{% static 'img/İspanya.png' %}"
                         alt="Another alt text" style="width: 150px; height: 110px;">
                  </div>
                  <div style="font-size: 12px; margin-left: 10px; margin-top:10px;">
                      <p>
                          {% if LANGUAGE_CODE == "tr" %}
                                İspanya Madrid & Coruna <br>
                            {% elif LANGUAGE_CODE == "en" %}
                                Spain Madrid & Coruna <br>
                            {% elif LANGUAGE_CODE == "ru" %}
                                 Испания Мадрид и Корунья <br>
                            {% endif %}
                       Jorge Duran <br>
                       representacionesduran@gmail.com <br>
                      +34 606 448 801</p>
                  </div>
             </div>
        </div>


         <div class="col-4" style="margin-top:50px;">
             <div class="d-flex">
                  <div>
                    <img src="{% static 'img/İspanya.png' %}"
                         alt="Another alt text" style="width: 150px; height: 110px;">
                  </div>
                  <div style="font-size: 12px; margin: 10px;">
                      <p>
                          {% if LANGUAGE_CODE == "tr" %}
                                İspanya Barcelona  <br>
                            {% elif LANGUAGE_CODE == "en" %}
                                Spain Barcelona <br>
                            {% elif LANGUAGE_CODE == "ru" %}
                                 Испания Барселона <br>
                            {% endif %}
                       Sergio Serrat - Spain Boton<br>
                       sergio@spainboton.com<br>
                        +34 656 918 531</p>
                  </div>
             </div>
        </div>


         <div class="col-4" style="margin-top:50px;">
             <div class="d-flex">
                  <div>
                    <img src="{% static 'img/ingiltere.png' %}"
                         alt="Another alt text" style="width: 150px; height: 110px;">
                  </div>
                  <div style="font-size: 12px; margin: 10px;">
                      <p>
                          {% if LANGUAGE_CODE == "tr" %}
                                Birleşik Krallık  <br>
                            {% elif LANGUAGE_CODE == "en" %}
                                United Kingdom <br>
                            {% elif LANGUAGE_CODE == "ru" %}
                                 Великобритания <br>
                            {% endif %}
                       Ciara Jennings<br>
                       ciarajenningstextiles@gmail.com <br>
                        +44 774 877 4040 </p>
                  </div>
             </div>
        </div>


        <div class="col-4" style="margin-top:50px;">
             <div class="d-flex">
                  <div>
                    <img src="{% static 'img/rusya.png' %}"
                         alt="Another alt text" style="width: 150px; height: 110px;">
                  </div>
                  <div style="font-size: 12px; margin: 10px;">
                      <p>
                          {% if LANGUAGE_CODE == "tr" %}
                                Rusya <br>
                            {% elif LANGUAGE_CODE == "en" %}
                                Russia <br>
                            {% elif LANGUAGE_CODE == "ru" %}
                                 Россия<br>
                            {% endif %}
                       Olga Valentinovna Kiray <br>
                       sales@ozlemkumas.com <br>
                        +90 532 242 5964</p>
                  </div>
             </div>
        </div>

        <div class="col-4" style="margin-top:50px;">
             <div class="d-flex">
                  <div>
                    <img src="{% static 'img/Amerika.png' %}"
                         alt="Another alt text" style="width: 150px; height: 110px;">
                  </div>
                  <div style="font-size: 12px; margin-left: 10px; margin-top:10px;">
                      <p>
                          {% if LANGUAGE_CODE == "tr" %}
                                California & Batı Amerika<br>
                            {% elif LANGUAGE_CODE == "en" %}
                                California & West  USA<br>
                            {% elif LANGUAGE_CODE == "ru" %}
                                 Калифорния и Западная Америка<br>
                            {% endif %}
                       Kimberlee Schreiner - KMS Group <br>
                       kimberlee@thekmsgrp.com <br>
                      +1 704 724 2269</p>
                  </div>
             </div>
        </div>

        <div class="col-4" style="margin-top:50px;">
             <div class="d-flex">
                  <div>
                    <img src="{% static 'img/Kanada.png' %}"
                         alt="Another alt text" style="width: 150px; height: 110px;">
                  </div>
                  <div style="font-size: 12px; margin: 10px;">
                      <p>
                          {% if LANGUAGE_CODE == "tr" %}
                                Kanada <br>
                            {% elif LANGUAGE_CODE == "en" %}
                                Canada<br>
                            {% elif LANGUAGE_CODE == "ru" %}
                                 Канада<br>
                            {% endif %}
                       John Wood <br>
                       johnharvard@videotron.ca <br>
                        +1 514 773 5399</p>
                  </div>
             </div>
        </div>

         <div class="col-4" style="margin-top:50px;">
             <div class="d-flex">
                  <div>
                    <img src="{% static 'img/güney kore.png' %}"
                         alt="Another alt text" style="width: 150px; height: 110px;">
                  </div>
                  <div style="font-size: 12px; margin: 10px;">
                      <p>
                          {% if LANGUAGE_CODE == "tr" %}
                                Güney Kore<br>
                            {% elif LANGUAGE_CODE == "en" %}
                                South Korea<br>
                            {% elif LANGUAGE_CODE == "ru" %}
                                Южная Корея<br>
                            {% endif %}
                       Pedro Kang - Avvio <br>
                       avviobypedro@gmail.com <br>
                      +82 10 9184 9425</p>
                  </div>
             </div>
        </div>

    </div>
</div>
{% endblock %}