<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-9">
<META HTTP-EQUIV="Content-language" CONTENT="tr">
{% extends 'base.html' %}
{% load static %}
{% block head %}
{% endblock %}

{% block body %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<!-- <script>
    function checkrules(id){
           var desen = $( "#desen-"+id ).val();
           var renk = $( "#renk-"+id ).val();
           var karisim = $( "#karisim-"+id ).val();
           var siparis = $( "#siparis-"+id ).val();
           var agirlik = $( "#agirlik-"+id ).val();

           if (  desen == null || renk == null || karisim == null || siparis == null || agirlik == null  ){
            alert("Lütfen bütün seçimleri tamamlayın");
            event.preventDefault();
           }

        }

</script> -->
<section id="about" class="section-bg">
      <div class="container">
        <div class="row">

    <div class="col-sm-12">
        {% if empty %}

        <h1>{{emptymessage}}</h1>


        {% elif message %}


        <h1>{{message}}</h1>

        {% else %}
        <table class="table">
            <thead>
                <th></th>
                <th>
                    {% if LANGUAGE_CODE == "tr" %}
                       Kumaş
                    {% elif LANGUAGE_CODE == "en" %}
                         Fabric
                    {% elif LANGUAGE_CODE == "ru" %}
                         Fabric
                    {% endif %}
                </th>
                <th colspan="2">
                    {% if LANGUAGE_CODE == "tr" %}
                       Detay
                    {% elif LANGUAGE_CODE == "en" %}
                         Details
                    {% elif LANGUAGE_CODE == "ru" %}
                         Details
                    {% endif %}
                </th>
                <th>
                    {% if LANGUAGE_CODE == "tr" %}
                       Fiyat
                    {% elif LANGUAGE_CODE == "en" %}
                         Price
                    {% elif LANGUAGE_CODE == "ru" %}
                         Цена
                    {% endif %}
                </th>
                <th>{% if LANGUAGE_CODE == "tr" %}
                       Adet
                    {% elif LANGUAGE_CODE == "en" %}
                         Qty
                    {% elif LANGUAGE_CODE == "ru" %}
                         Кол-во
                    {% endif %}
                </th>
            </thead>
            <tfoot>
                <tr>
                    <td colspan="10"><strong>
                        {% if LANGUAGE_CODE == "tr" %}
                       Toplam
                    {% elif LANGUAGE_CODE == "en" %}
                         Total
                    {% elif LANGUAGE_CODE == "ru" %}
                         Итого
                    {% endif %}:{{cart.total}}</strong></td>
                    <td><form action="{% url 'carts' %}" method="post">{% csrf_token %}<button type="submit"  class="btn btn-primary">
                    {% if LANGUAGE_CODE == "tr" %}
                       Siparişi Tamamla
                    {% elif LANGUAGE_CODE == "en" %}
                         Complete Order
                    {% elif LANGUAGE_CODE == "ru" %}
                         Отправить заказ
                    {% endif %}

                    </button></form></td>

                </tr>
            </tfoot>
            {% for item in cart.products.all %}
            <tr>
                <td><img src="{{item.img.url}}" alt=""  style="width:75px; heigh:75px;"/></td>
                <td colspan="1">{{item}}
                <td colspan="2">
                    {{item.detail}}
                </td>
                <td>{{item.price}} USD</td>
                <td>
                    <input type="number" name="quantity" min="1" max="10000">

            </td>
            </form>
                <td colspan="8"><a href="{% url 'update_carts_2' item.id %}" class="btn btn-danger">
                    {% if LANGUAGE_CODE == "tr" %}
                       Sil
                    {% elif LANGUAGE_CODE == "en" %}
                        Delete
                    {% elif LANGUAGE_CODE == "ru" %}
                        Удалить
                    {% endif %}
                </a></td>
            </tr>

            {% endfor %}
             {% for item in cart.upholsteries.all %}
            <tr>
                <td><img src="{{item.img.url}}" alt=""  style="width:75px; heigh:75px;"/></td>
                <td colspan="1">{{item}}
                <td colspan="2">Standart</td>

                <td colspan="">{{item.price}} USD</td>
                <td><input type="number" name="quantity" min="1" max="10000"></td>
                    <form action="{% url 'update_carts_3' %}" method="post">
                <div class="row">
                {% csrf_token %}
                </div>
    </td>
                    </form>

                <td colspan="8"><a href="{% url 'update_carts_up_2' item.id %}" class="btn btn-danger">
                    {% if LANGUAGE_CODE == "tr" %}
                       Sil
                    {% elif LANGUAGE_CODE == "en" %}
                        Delete
                    {% elif LANGUAGE_CODE == "ru" %}
                        Удалить
                    {% endif %}
                </a></td>
            </tr>

            {% endfor %}
        </table>


    </div>

        </div>
    </div>
</section>

{% endif %}
{% endblock %}
