{% extends 'base.html' %}
{% load static %}
{% block head %}
{% endblock %}

{% block body %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <section id="about" class="section-bg" style="background-color:white;">
      <div class="container">
          {% if messages %}

              {% for message in messages %}
                <div class="alert alert-primary" role="alert" style="text-align:center;">
                {% if 'safe' in message.tags %}{{ message|safe }}{% else %}{{ message }}{% endif %}
                </div>
            {% endfor %}

             {% endif %}
          <div class="row">

         <div class="col-md-4 mb-3 mb-md-0">

             <div class="card py-4 h-100">
                <div class="card-body text-center">
                    <h4 class="text-uppercase m-0">{% if LANGUAGE_CODE == "tr" %} adres {% elif LANGUAGE_CODE == "en" %} address {% elif LANGUAGE_CODE == "ru" %} АДРЕС {% endif %}</h4>
                    <hr class="my-4">
                    <div class="small text-black-50">
                        <address style="font-size:15px;">
                          Tekstilkent Koza Plaza B Blok<br>
                          Kat:31 No:119 Esenler 34235<br>
                          İstanbul Türkiye <br>
                        </address>
                        <abbr style="font-size:15px;">{% if LANGUAGE_CODE == "tr" %} T {% elif LANGUAGE_CODE == "en" %} phone {% elif LANGUAGE_CODE == "ru" %} Телефон {% endif %}: +90 212 438 5 438</abbr><br><br>
                         <address>
                          <strong style="font-size:15px;">{% if LANGUAGE_CODE == "tr" %} E-posta {% elif LANGUAGE_CODE == "en" %} E-mail {% elif LANGUAGE_CODE == "ru" %} е-мейл {% endif %}:</strong><br>
                          <a href="mailto:#" style="font-size:15px;">info@ozlemkumas.com</a>
                        </address>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
                <div class="card-body text-center">
                <div class="social-links">

                <a href="https://www.instagram.com/ozlem_fabric/" target="_blank" class="instagram"><i class="fa fa-instagram"></i></a></div>
              <script src="{% static 'elfsight.js' %}" defer></script>
             <div class="elfsight-app-a2d4f8a0-5fc1-49b5-b4c3-6caf01e7950e"></div>
        <br>

     </div>
            </div>
        </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
           <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1504.0214176449833!2d28.86221806129812!3d41.06805631093827!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab003963528f7%3A0x585cde346aed8db9!2zw5Z6bGVtIEt1bWHFnw!5e0!3m2!1str!2str!4v1605353063011!5m2!1str!2str" width="300" height="280" frameborder="0" style="border:0" allowfullscreen=""></iframe>
         </div></div></div>

 </div>
                <h2 align="center">{% if LANGUAGE_CODE == "tr" %} Bize Ulaşın {% elif LANGUAGE_CODE == "en" %} Contact us {% elif LANGUAGE_CODE == "ru" %} свяжитесь с нами {% endif %}</h2>
              <form  method="post" >
                       {% csrf_token %}
                  <div class="row align-items-stretch mb-5">
                      <div class="col-md-6">
                          <div class="form-group">
                              <p class="help-block">{% if LANGUAGE_CODE == "tr" %} İsim {% elif LANGUAGE_CODE == "en" %} Name {% elif LANGUAGE_CODE == "ru" %} название {% endif %}</p>
                            {{form.name}}
                          </div>
                          <div class="form-group">
                              <p class="help-block">{% if LANGUAGE_CODE == "tr" %} Soyadı {% elif LANGUAGE_CODE == "en" %} Surname {% elif LANGUAGE_CODE == "ru" %} фамилия {% endif %}</p>
                            {{form.email}}
                          </div>
                          <div class="form-group">
                              <p class="help-block">{% if LANGUAGE_CODE == "tr" %} Telefon Numarası {% elif LANGUAGE_CODE == "en" %} Phone {% elif LANGUAGE_CODE == "ru" %} Телефон {% endif %}</p>
                            {{form.phone}}
                          </div>
                      </div>
                      <div class="col-md-6">
                          <div class="form-group">
                              <p class="help-block">{% if LANGUAGE_CODE == "tr" %} Mesajınız {% elif LANGUAGE_CODE == "en" %} message {% elif LANGUAGE_CODE == "ru" %} сообщение {% endif %}:</p>
                            {{form.content}}
                          </div>
                          <button type="submit" class="btn pull-right  btn-lg lang" style="background-color:#d97340 !important; color:white;" id="sendMessageButton" key="sendbutton" >{% if LANGUAGE_CODE == "tr" %} Gönder {% elif LANGUAGE_CODE == "en" %} Submit {% elif LANGUAGE_CODE == "ru" %} представить {% endif %}</button>
                      </div>
                    </div>
              </form>
  </section><!-- #footer -->
{% endblock %}
