{% extends 'base.html' %}
{% load static %}

{% block head %}
<style>
    .card-img-content {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: center center;
        background-size: cover;
        height: 230px;
    }

    .card-circle {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: center center;
        background-size: cover;
    }

    .card-shadow-green {
        background: rgb(242, 242, 242, .5);
        -webkit-box-shadow: 0 0.46875rem 2.1875rem rgba(28, 202, 167, .03), 0 0.9375rem 1.40625rem rgba(28, 202, 167, .03), 0 0.25rem 0.53125rem rgba(28, 202, 167, .05), 0 0.125rem 0.1875rem rgba(28, 202, 167, .03);
        box-shadow: 0 0.46875rem 2.1875rem rgba(28, 202, 167, .03), 0 0.9375rem 1.40625rem rgba(28, 202, 167, .03), 0 0.25rem 0.53125rem rgba(28, 202, 167, .05), 0 0.125rem 0.1875rem rgba(28, 202, 167, .03);
    }

    .card-shadow-green:hover {
        -webkit-box-shadow: 0 0.8rem 4rem rgba(179, 179, 179, .2), 0 1.8rem 2.8rem rgba(179, 179, 179, .2), 0 0.5rem 1rem rgba(179, 179, 179, .2), 0 0.25rem 0.3rem rgba(179, 179, 179, .2);
        box-shadow: 0 0.8rem 4rem rgba(179, 179, 179, .2), 0 1.8rem 2.8rem rgba(179, 179, 179, .2), 0 0.5rem 1rem rgba(179, 179, 179, .2), 0 0.25rem 0.3rem rgba(28, 202, 167, .2);
    }

    .card-title-content {
        padding: 1.2rem;
    }

    .card-title-content div {
        font-size: 14px;
        padding-top: 10px;
        min-height: 120px;
    }



    @media (min-width: 991.78px) and (max-width: 1240px) {
        .intro-card-row .col-md-4 {
            flex: 0 0 50%;
            max-width: 50%;
        }
    }

    @media (max-width: 991.78px) {
        .intro-card-row .col-md-4 {
            flex: 0 0 100%;
            max-width: 100%;

        }
        .card-title-content div {
            min-height: 100%;
    }
    }

    .link {
        box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15) !important;
        background-color: #034080;
        border-radius: 4px;
        text-decoration: none;
        font-size: 14px;
    }
    .link:hover{
        background-color: #00926e;
        text-decoration: none;
        box-shadow: 0 12px 15px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19) !important;
    }
</style>
{% endblock %}

{% block body %}

<section class="page-section">
        <div class="centered" style="margin-top: 10%;">
            <div class="mb-5">
                <h1 class="text-center">Fuarlarımız</h1>
                <h4 class="text-center mb-4">Dünya’nın önde gelen fuarlarında ürünlerimizi sergilemekten mutluluk duyuyoruz.</h4>
            </div>

            <div class="row text-align-center">
                <div class="col-md-2 col-md-offset-1">
                    <div class="card-shadow-green text-center h-100">
                        <div class="card-img-content text-center">
                            <img src="{% static 'img/fairs/Pv paris.jpg' %}" style="width: 200px; height: 200px;">
                        </div>
                        <div class="card-title-content">
                            <div class="mb-3">
                                Tekstilin bir numaralı fuarı Premiere Vision Paris ana fuarımızdır.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="card-shadow-green text-center h-100">
                        <div class="card-img-content text-center">
                            <img src="{% static 'img/fairs/Interfabric.jpg' %}" style="width: 200px; height: 200px;">
                        </div>
                        <div class="card-title-content">
                            <div class="mb-3">
                                Rusya Moskova’daki fuarımız Interfabric
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="card-shadow-green text-center h-100">
                        <div class="card-img-content text-center">
                            <img src="{% static 'img/fairs/TextileSalon.jpg' %}" style="width: 200px; height: 200px;">
                        </div>
                        <div class="card-title-content">
                            <div class="mb-3">
                                Bölgemizin en önemli pazarı Rusya’daki ikinci fuarımız Textile Salon Moscow
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="card-shadow-green text-center h-100">
                        <div class="card-img-content text-center">
                            <img src="{% static 'img/fairs/MFS.jpg' %}" style="width: 200px; height: 200px;">
                        </div>
                        <div class="card-title-content">
                            <div class="mb-3">
                                Münih’te düzenlenen Munich Fabric Start fuarımı
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="card-shadow-green text-center h-100">
                        <div class="card-img-content text-center">
                            <img src="{% static 'img/fairs/LTF.jpg' %}" style="width: 200px; height: 200px;">
                        </div>
                        <div class="card-title-content">
                            <div class="mb-3">
                                Yün ve ekosenin ülkesinde katıldığımız Londra fuarımız London Textile Fair
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>



{% endblock %}