{% extends 'base.html' %}
{% load static %}
{% block head %}
{% endblock %}

{% block body %}

  <section id="intro" class="clearfix">
        <br><br><br>
    <br><br><br>

    <div class="container d-flex">
      <div class="row justify-content-center align-self-center">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100" src="{% static 'static/img/slides/nivo/bg-1.jpg' %}" alt="First slide">
              </div>
            </div>
        <div class="col-md-6 intro-info order-md-first order-last">
          <h2>Rapid Solutions<br>for Your <span>Business!</span></h2>
          <div>
            <a href="#about" class="btn-get-started scrollto">Online Alışveriş için tiklayin! </a>
          </div>
        </div>

        <div class="col-md-6 intro-img order-md-last order-first">
          <img src="img/intro-img.svg" alt="" class="img-fluid">
        </div>
      </div>

    </div>
  </section><!-- #intro -->

  <main id="main">


{% endblock %}
