{% extends 'base.html' %}
{% load static %}
{% block head %}
{% load thumbnail %}

{% endblock %}

{% block body %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<section id="about" class="section-bg" style="background-color:white;">

<div class="container">
    {% if not user.is_authenticated %}
        <div class="alert alert-info" role="alert">
            {% if LANGUAGE_CODE == "tr" %}
                Sepetinize ürün eklemek ve sipariş verebilmek için Üye olmanız gerekmektedir.<a href="{% url 'signup' %}">Üye olun</a>
            {% elif LANGUAGE_CODE == "en" %}
                You must be a member to add products to your cart and place an order.<a href="{% url 'signup' %}">Become a member</a>
            {% elif LANGUAGE_CODE == "ru" %}
                Вы должны быть участником, чтобы добавлять товары в корзину и размещать заказ. <a href="{% url 'signup' %}">стать членом</a>
            {% endif %}
        </div>
    {% endif %}
    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
        {% if messages %}
            {% for message in messages %}
                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}

            <div class="row">
             {% for x in products %}
             <div class="col-3 col-offset">
                <a href="" data-image-id="" data-toggle="modal" data-title=""
                   data-target="#{{x.id}}">
                    <img class="img-thumbnail"
                         src="{{x.img.url}}"  style="width:250px; height:250px;"
                         alt="Another alt text" >
                        <div>
                            <p align="center">{% if LANGUAGE_CODE == "tr" %} {{x.name}} {% elif LANGUAGE_CODE == "en" %} {{x.name_en}} {% elif LANGUAGE_CODE == "ru" %} {{x.name_ru}} {% endif %}</p>
                         {% if user.is_authenticated %}
                            {% if x.id not in cart %}
                            <p style="font-size:11px;" align="center">{{x.detail}} <br>
                            <a href="{% url 'update_carts' x.id %}">

                                {% if LANGUAGE_CODE == "tr" %} Sepete Ekle {% elif LANGUAGE_CODE == "en" %} Add to cart {% elif LANGUAGE_CODE == "ru" %} добавить в корзину {% endif %}
                                <i class="fas fa-plus"></i></a></p>
                            {% else %}
                                <p style="font-size:11px;" align="center">{{x.detail}} <br>
                                <a href="{% url 'update_carts_2' x.id %}">
                                 {% if LANGUAGE_CODE == "tr" %} Sepetten Çıkar {% elif LANGUAGE_CODE == "en" %} Remove from cart {% elif LANGUAGE_CODE == "ru" %} убрать из корзины {% endif %}<i class="fas fa-minus-circle" style="color:red;"></i></a></p>
                            {% endif %}
                        {% endif %}
                    </div>
                </a>
            </div>

            <div class="modal fade" id="{{x.id}}"  role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h6 class="modal-title" id="image-gallery-title">{% if LANGUAGE_CODE == "tr" %} {{x.name}} {% elif LANGUAGE_CODE == "en" %} {{x.name_en}} {% elif LANGUAGE_CODE == "ru" %} {{x.name_ru}} {% endif %}</h6>
                        </div>
                        <div class="modal-body">
                            <img id="image-gallery-image" style="width: 500px; height: 500px;" class="img-responsive" style="" src="{% thumbnail x.img '500x500'  as im %}{{ im.url }}{% endthumbnail %}">
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">{% if LANGUAGE_CODE == "tr" %} Kapat {% elif LANGUAGE_CODE == "en" %} Close {% elif LANGUAGE_CODE == "ru" %} близко {% endif %}</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
    </div>
        </div>
<!------ Include the above in your HEAD tag ---------->
{% endblock %}
