{% extends 'base.html' %}
{% load static %}
{% block head %}
{% load thumbnail %}

{% endblock %}

{% block body %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<section id="about" class="section-bg" style="background-color:white;">
<div class="cart-icon-bottom" style="margin-top:-25px;">
    <label style="font-size:20px; margin-left:25px;"> {% if not request.session.items_total %} 0 {% else %}<a href="{% url 'carts' %}">{{request.session.items_total }}</a> {% endif %}</label>
</div>

<div class="container">
    {% if not user.is_authenticated %}
        <div class="alert alert-info" role="alert">
            Sepetinize ürün eklemek ve sipariş verebilmek için Üye olmanız gerekmektedir. <a href="{% url 'signup' %}">Üye olun</a>
        </div>
    {% endif %}
    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
        {% if messages %}
            {% for message in messages %}
                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}

            <div class="row">
             {% for x in products %}
             <div class="col-3 col-offset">
                <a href="" data-image-id="" data-toggle="modal" data-title=""
                   data-target="#{{x.id}}">
                    <img class="img-thumbnail"
                         src="{% thumbnail x.img '200x200' as im %}{{ im.url }}{% endthumbnail %}"
                         alt="Another alt text" >
                        <div>
                            <p align="center">{{x.name}}</p>
                         {% if user.is_authenticated %}
                            {% if x.id not in cart %}
                            <p style="font-size:11px;" align="center">{{x.detail}} <br>
                            <a href="{% url 'update_carts' x.id %}">
                            Sepete Ekle <i class="fas fa-plus"></i></a></p>
                            {% else %}
                                <p style="font-size:11px;" align="center">{{x.detail}} <br>
                                <a href="{% url 'update_carts_2' x.id %}">
                                Sepetten Çıkar <i class="fas fa-minus-circle" style="color:red;"></i></a></p>
                            {% endif %}
                        {% endif %}
                    </div>
                </a>
            </div>

            <div class="modal fade" id="{{x.id}}"  role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h6 class="modal-title" id="image-gallery-title">{{x.name}}</h6>
                        </div>
                        <div class="modal-body">
                            <img id="image-gallery-image" style="width: 500px; height: 500px;" class="img-responsive" style="" src="{% thumbnail x.img '500x500'  as im %}{{ im.url }}{% endthumbnail %}">
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Kapat</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
    </div>
        </div>
<!------ Include the above in your HEAD tag ---------->
{% endblock %}
