{% extends 'base.html' %}
{% load static %}
{% block head %}

{% endblock %}

{% block body %}
  <section id="about" class="section-bg">
      <div class="container">
        <div class="row">
            {% if not user.is_authenticated %}
                    arda burada
            {% endif %}
             {% for x in products %}
                    <div class="card mb-3">
                        <h5 class="card-title"><b>{{x.name}}</b></h5>

                          <img src="{{x.img.url}}" class="card-img-top" style="width:500;height:300px;">
                          <div class="card-body">
                            <p class="card-text">{{x.detail}}</p>
                            {% if user.is_authenticated %} <a href="{% url 'update_carts' x.id %}" {% if x.id not in cart %} class="btn btn-primary">Sepete Ekle {% else %} class="btn btn-primary">Sepetten çıkar {% endif %}</a>{% endif %}
                          </div>
                        </div>


                    {% endfor %}
</div>


      </div>
  </section>

{% endblock %}
