{% extends 'base.html' %}
{% load static %}
{% block head %}
<style>
body {
  font-family: Arial;
}

a:focus {
  outline: none;
}

.portfolioFilter {
  padding: 15px 0;
}

.portfolioFilter a {
  margin-right: 6px;
  color: #666;
  text-decoration: none;
  border: 1px solid #ccc;
  padding: 4px 15px;
  border-radius: 50px;
  display: inline-block;
}

.portfolioFilter a.current {
  background: #1e1e1e;
  border: 1px solid #1e1e1e;
  color: #f9f9f9;
}
.portfolioContainer{
  border: 1px solid #eee;
  border-radius: 3px;
}
img {
  margin: 5px;
  max-width:100%;
}

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  transition-property: transform, opacity;
}
.btn_c {
  height: 50px;
  width: 50px;
  border-radius: 50%;

}


</style>
{% endblock %}

{% block body %}
<body id="page-top" style="background-color:white;">
<section id="about" class="section-bg" style="background-color:white;">
    <div class="container">
        <br><br><br><br>
  <div class="row">
    <div class="col-lg-12">
    <div class="portfolioFilter clearfix">
      <a href="#" class="btn_c" style="background-color:white;" data-filter="*"></a>
      <a href="#" class="btn_c" style="background-color:red;" data-filter=".red"></a>
      <a href="#" class="btn_c" style="background-color:green;" data-filter=".green"></a>
      <a href="#" class="btn_c" style="background-color:grey;" data-filter=".grey"></a>
      <a href="#" class="btn_c" style="background-color:blue;" data-filter=".blue"></a>
    </div>
      </div>
      <div class="col-lg-12">
    <div class="portfolioContainer">

      <div class="grey">
        <img src="static/img/upholstery/10677A.jpg" alt="image" style="width:125px;height:125px;">
      </div>

      <div class="red">
        <img src="static/img/upholstery/20194.jpg" alt="image"style="width:125px;height:125px;">
      </div>

      <div class="food">
        <img src="static/img/upholstery/20210A.jpg" alt="image"style="width:125px;height:125px;">
      </div>

      <div class="drawings">
        <img src="static/img/upholstery/20211A.jpg" alt="image"style="width:125px;height:125px;">
      </div>

      <div class="red">
        <img src="static/img/upholstery/30420A.jpg" alt="image"style="width:125px;height:125px;">
      </div>

      <div class="ui">
        <img src="static/img/upholstery/40138B.jpg" alt="image"style="width:125px;height:125px;">
      </div>

      <div class="blue">
        <img src="static/img/upholstery/50558A.jpg" alt="image"style="width:125px;height:125px;">
      </div>

      <div class="blue">
        <img src="static/img/upholstery/60400A.jpg" alt="image"style="width:125px;height:125px;">
      </div>

      <div class="drawings">
        <img src="static/img/upholstery/60402B.jpg" alt="image"style="width:125px;height:125px;">
      </div>
      <div class="green">
        <img src="static/img/upholstery/60418A.jpg" alt="image"style="width:125px;height:125px;">
      </div>
      <div class="green">
        <img src="static/img/upholstery/60421A.jpg" alt="image"style="width:125px;height:125px;">
      </div>

      <div class="green">
        <img src="static/img/upholstery/90423A.jpg" alt="image"style="width:125px;height:125px;">
      </div>


      <div class="drawings">
        <img src="static/img/upholstery/90426A.jpg" alt="image"style="width:125px;height:125px;">
      </div>

      <div class="Yesil">
        <img src="static/img/upholstery/ANTRACIDE.jpg" alt="image"style="width:125px;height:125px;">
      </div>

      <div class="drawings">
        <img src="static/img/upholstery/GREY.jpg" alt="image"style="width:125px;height:125px;">
      </div>
      <div class="grey">
        <img src="static/img/upholstery/MD10677A.jpg" alt="image"style="width:125px;height:125px;">
      </div>
      <div class="grey">
        <img src="static/img/upholstery/MD20211A.jpg" alt="image"style="width:125px;height:125px;">
      </div>

      <div class="blue">
        <img src="static/img/upholstery/MD60400A.jpg" alt="image"style="width:125px;height:125px;">
      </div>


      <div class="green">
        <img src="static/img/upholstery/MD60418A.jpg" alt="image"style="width:125px;height:125px;">
      </div>

      <div class="green">
        <img src="static/img/upholstery/MD60421A.jpg" alt="image"style="width:125px;height:125px;">
      </div>

      <div class="grey">
        <img src="static/img/upholstery/MD70410E.jpg" alt="image"style="width:125px;height:125px;">
      </div>
      <div class="green">
        <img src="static/img/upholstery/MD117446.jpg" alt="image"style="width:125px;height:125px;">
      </div>
      <div class="grey">
        <img src="static/img/upholstery/SILVER.jpg" alt="image"style="width:125px;height:125px;">
      </div>


    </div>
  </div>
</div>

    <hr>
    <div class="container">
            <div class="row">
                FURNILANA

            </div>
        </div>
    <hr>
   <div class="container">
       <a href="static/FURNILANA_TR_TestRaporu.pdf">Furnila Test Raporu Türkçe</a> <br>
       <a href="static/FURNILANA_ENG_TestReport.pdf">Furnila Test Raporu İngilizce</a>
   </div>
</div>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="menu.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script>
$(window).load(function(){
    var $container = $('.portfolioContainer');
    $container.isotope({
        filter: '*',
        animationOptions: {
            duration: 750,
            easing: 'linear',
            queue: false
        }
    });

    $('.portfolioFilter a').click(function(){
        $('.portfolioFilter .current').removeClass('current');
        $(this).addClass('current');

        var selector = $(this).attr('data-filter');
        $container.isotope({
            filter: selector,
            animationOptions: {
                duration: 750,
                easing: 'linear',
                queue: false
            }
         });
         return false;
    });
});
</script>
<!------ Include the above in your HEAD tag ---------->
{% endblock %}
