{% extends 'base.html' %}
{% load static %}
{% block head %}
{% load thumbnail %}

{% endblock %}

{% block body %}
<style>
.clear{
    clear:both;
}
</style>
<body id="page-top">
  <meta charset="utf-8">
  <meta name="viewport" content="width=1024">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="{% static 'js/lazysizes.min.js' %}" async=""></script>

<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">


  <section id="about" class="section-bg" style="background-color:white;">


<div class="cart-icon-bottom" style="margin-top:-25px;">
    <label style="font-size:20px; margin-left:25px;"> {% if not request.session.items_total %} 0 {% else %}<a href="{% url 'carts' %}">{{request.session.items_total }}</a> {% endif %}</label>
</div>

<div class="container">
    {% if not user.is_authenticated %}
        <div class="alert alert-info" role="alert" style="margin-left:5px;">
            Sepetinize ürün eklemek ve sipariş verebilmek için Üye olmanız gerekmektedir. <a href="{% url 'signup' %}">Üye olun</a>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-10" style="margin-left:20px;">
             <h1>FURNILANA</h1>
        </div>
    <div class="col-6" style="margin-left:20px;">
        <div style="display: inline-block; text-align: left;">
            <p> <b>Karışım </b><br> %80 Yün %20 Polyamid </p>

            <p> <b>Sürdürülebilirlik</b> <br> %100 Geri dönüştürülebilir </p>

            <p> <b> En</b><br> 140 cm minimum </p>

            <p> <b>Ağırlık</b><br> 460gram/metrekare </p>

            <p> <b>Temizlik</b><br> Profesyonel kuru temizleme veya nemli bezle silinebilir. </p>
        </div>
    </div>
    <div class="col-5">
        <div style="display: inline-block; text-align: left;">
            <p> <b>Abrazyon Değeri</b><br> 50.000 Martindale turu (ISO 12947-2:1998) </p>
            <p> <b>Pilling Değeri:</b><br> 4/5 (ISO 12945-2:2000) </p>

            <p> <b>Renk Haslığı</b> <br>
                <b>Kuru:</b> 4/5
                <b>Islak:</b> 4/5 (BS EN ISO 105 X12:2002) </p>

            <p> <b>Işık Haslığı</b><br> 5 (BS EN ISO 105 B02:1999) </p>

            <p> <b>Sigara ve Kibrit Alev Almazlık Testleri Başarıyla Sonuçlanmıştır.</b> </p>

            <p> (BS EN 1021-1:2006 Cigarette) (BS EN 1021-2:2006 Match) </p>
        </div>
    </div>
        </div>

    <div class="container">
		<div class="row">
             {% for x in upholstery %}
            <div class="col-2 col-half-offset">
                <a href="" data-image-id="" data-toggle="modal" data-title=""
                   data-target="#{{x.name}}">
                    <img class="img-thumbnail"
                         src="{% thumbnail x.img '200x200' as im %}{{ im.url }}{% endthumbnail %}"
                         alt="Another alt text" style="width:150px; height:150px;">
                    <div align="center">
                        {{x.name}}<br>
                         {% if user.is_authenticated %}
                            {% if x.id not in cart %}

                            <a href="{% url 'update_carts_up' x.id %}">
                            Sepete Ekle <i class="fas fa-plus"></i></a>
                            {% else %}
                                <a href="{% url 'update_carts_up_2' x.id %}">
                                Sepetten Çıkar <i class="fas fa-minus-circle" style="color:red;"></i></a>
                            {% endif %}
                        {% endif %}
                        <p></p>
                    </div>
                </a>
            </div>

            <div class="modal fade" id="{{x.name}}" role="dialog">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                       <div class="modal-header">
                           <h6 class="modal-title" align="center">{{x.name}}</h6>
                       </div>
                        <div class="modal-body">
                            <img id="image-gallery-image" style="width: 500px; height: 500px;" class="img-responsive" style="" src="{% thumbnail x.img '500x500' as im %}{{ im.url }}{% endthumbnail %}">
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Kapat</button>
                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}
         </div>
	</div>
          <hr>
        <div class="row1">
       <a href="static/FURNILANA_TR_TestRaporu.pdf" target="_blank">Furnilana Test Raporu Türkçe</a> <br>
       <a href="static/FURNILANA_ENG_TestReport.pdf" target="_blank">Furnilana Test Raporu İngilizce</a>
        </div>
</div>
  </section>
{% endblock %}
